@model MVCCourse.Models.Students
@section title {
    <h2>Add New Student</h2>
}

<form asp-action="AddStudent" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Age" class="form-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <textarea asp-for="Address" class="form-control"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Result" class="form-label"></label>
        <input asp-for="Result" class="form-control" />
        <span asp-validation-for="Result" class="text-danger"></span>
    </div>

    <button type="reset" class="btn btn-secondary">Reset</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

